# ignore all data files and logs
data/
!data/toy_data.h5ad
# ignore all output files
/R_figures/output/*
# ignore Rmd output files
/R_figures/*_files/*
/R_figures/*.html
/R_figures/_Fig*.md
/R_figures/_0_get_weights.md
/logs/
# generically ignore all files with these extensions
*.gz
*.txt
# ignore all files in the .gitignore directory
*.pyc
build/
models/*
!docs/requirements.txt
wandb/
*.pdf
*.png
run_benchmark.sh
*.sh
sim_benchmark.ipynb
